span.wpcf7-form-control-wrap .wpcf7-form-control {
    margin: 0;
    padding: 0;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    outline: none !important;
}
.overlay-purple {
    position: relative;
    &::before {
        content: '';
        position:absolute;
        width: 100%;
        height: 100%;
        background-image: url("data:image/svg+xml,%3Csvg width='1440' height='800' viewBox='0 0 1440 800' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='1440' height='800' fill='url(%23paint0_radial_331_623)'/%3E%3Cdefs%3E%3CradialGradient id='paint0_radial_331_623' cx='0' cy='0' r='1' gradientUnits='userSpaceOnUse' gradientTransform='translate(-531.904 1061.9) rotate(-21.6442) scale(4339.34 10285.8)'%3E%3Cstop offset='0.17525' stop-color='%23084C85' stop-opacity='0.6'/%3E%3Cstop offset='0.337522' stop-color='%235A2772' stop-opacity='0.666301'/%3E%3Cstop offset='0.725122' stop-color='%23D96800' stop-opacity='0.8'/%3E%3C/radialGradient%3E%3C/defs%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        background-size: cover;
    }
}
.contact {
    color: #fff;
    min-height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 800px;
        @media (max-width: 480px){
            justify-content: initial;
            flex-direction: column;
        }
    }
    &__inner {
        display: flex;
        gap: 245px;
        justify-content: center;
        .contact__info {
            max-width: 427px;
            &-title {
                font-weight: 700;
                font-size: 48px;
                line-height: 57px;
                margin-bottom: 24px;
            }
            &-text {
                font-weight: 400;
                font-size: 20px;
                line-height: 26px;
                margin-bottom: 24px;

            }
            &-mail {
                font-weight: 400;
                font-size: 18px;
                line-height: 24px;
                a {
                    text-decoration: underline;
                    color: #fff !important;
                }
            }
            @media(max-width: 480px) {
                padding: 0 20px;
            }
        }
        .wpcf7 {
            max-width: 427px;
            width: 100%;
            .contact__form {
                 p {
                     margin: 0;
                    .wpcf7-form-control-wrap {
                     display: block;
                        & +.wpcf7-form-control-wrap {margin-bottom: 32px !important;}
                    }
                }
            }
            .wpcf7-list-item {
                margin: 0;
            }
           
        }
        .contact__form {
            display: flex;
            flex-direction: column;
            max-width: 427px;
            width: 100%;
            input[type=text] {
                color: #fff;
                background: none !important;
                border: none;
                border-bottom: 1.2px solid #FFFFFF;
                font-size: 18px;
                line-height: 26px;
                outline: none;
                &::placeholder{
                    color: #fff;
                    font-size: 18px;
                    line-height: 26px;
                }
                & + input[type=text] {
                    margin-top: 32px;
                }
                @media(max-width:480px) {
                    font-size: inherit;
                }
            }
            input::placeholder {
                opacity: 0.7 !important;
            }
            .checkbox__wrapper {
                margin-top: 16px;
                margin-bottom: 50px;
            }
            button {
                max-width: 238px;
                background: none;
                color: #fff !important;
                border-color: #fff !important;
            }
            
        }
    }
    @media(max-width: 834px) {
        &__inner {
            flex-direction: column;
            gap: 56px;
            padding: 0 20px;
            margin-bottom: 100px;
            margin-top: 180px;
            .contact__form {
                button {
                    align-self: center;
                }
            }
        }
        .featured__link {
            margin-bottom: 5px !important;
        }
        .contact__form  {
            padding: 0 5px !important;
        }
    }
    @media(max-width: 480px) {
        &__inner {
            max-width: 350px;
            padding: 0;
            overflow-x: hidden;
        }
    }
}
.contact__button {
    transition: all 0.3s;
    background: none;
    color: #fff !important;
    border-color: #fff !important;
    &:hover {
        transform: scale(1.05);
    }
}
.danger {
    text-decoration: underline;
    text-decoration-color: red;
    text-decoration-thickness: 2px;
}
.alert {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}
.contact__msg {
    color: #7fd1a5;
    font-size: 18px;
    font-weight: 900;
    border: 2px solid;
    margin-top: 20px;
    display: inline-block;
    max-width: 250px;
    width: 100%;
    text-align: center;
    @media(max-width:834px) {
        margin-left: auto;
        margin-right: auto;
    }
}

