.hero {
    height: 100vh;
    &__inner {
        display: flex;
        align-items: center;
        height: 100%;
        gap: 114px;
        background-color: $luBG;
        .left {
            width: 50%;
            height: 100%;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
            display: flex;
            align-items: center;
            &::before{
                content: '';
                width: 100%;
                height: 100%;
                left: 0;
                top:0;
                position: absolute;
                background: radial-gradient(962.8% 695.54% at -36.94% 132.74%, rgba(8, 76, 133, 0.6) 17.52%, rgba(90, 39, 114, 0.666301) 33.75%, rgba(217, 104, 0, 0.8) 72.51%);
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            }
            .hero__title {
              font-size: 130px;
              line-height: 156px;  
              font-weight: 700;
              color: #fff;
              margin: 0;
              text-align: right;
              position: relative;
              z-index: 2;
              margin: 0 auto;
              max-width: 537px;
              width: 100%;
            }
        }
        .right {
            .hero__info {
                max-width: 492px;
                width: 100%;
                margin: 0 auto;
                .hero__text {
                    font-size: 18px;
                    line-height: 27px;
                    font-weight: 700;
                    color: $cTheme;
                }
                .hero__list {
                    margin-top: 40px;
                    margin-bottom: 50px;
                    padding-left: 36px;
                    position: relative;

                    li + li {
                        margin-top: 24px;
                    }
                    li {
                        &:nth-child(1) {
                            &::before {
                                content: '';
                                position: absolute;
                                width: 24px;
                                height: 24px;
                                background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 22C6.47734 22 2 17.5227 2 12C2 6.47734 6.47734 2 12 2C17.5227 2 22 6.47734 22 12C22 17.5227 17.5227 22 12 22ZM12 3.81829C7.47746 3.81829 3.81829 7.47738 3.81829 12C3.81829 16.5226 7.47738 20.1817 12 20.1817C16.5226 20.1817 20.1817 16.5226 20.1817 12C20.1817 7.47738 16.5226 3.81829 12 3.81829Z' fill='%231B5089'/%3E%3Cpath d='M12.0001 17.2275C11.5002 17.2275 11.0911 16.8184 11.0911 16.3185V11.0912C11.0911 10.5912 11.5002 10.1821 12.0001 10.1821C12.5 10.1821 12.9091 10.5912 12.9091 11.0912V16.3185C12.9091 16.8184 12.5 17.2275 12.0001 17.2275Z' fill='%231B5089'/%3E%3Cpath d='M12.9089 8.13657C12.9089 8.63865 12.5019 9.04575 11.9998 9.04575C11.4978 9.04575 11.0908 8.63865 11.0908 8.13657C11.0908 7.63448 11.4978 7.22754 11.9998 7.22754C12.5019 7.22754 12.9089 7.63448 12.9089 8.13657Z' fill='%231B5089'/%3E%3Cpath d='M12.0002 9.2728C11.3639 9.2728 10.8638 8.77286 10.8638 8.1364C10.8638 7.5001 11.3637 7 12.0002 7C12.6365 7 13.1366 7.49994 13.1366 8.1364C13.1366 8.77286 12.6365 9.2728 12.0002 9.2728ZM12.0002 7.45459C11.6138 7.45459 11.3184 7.74999 11.3184 8.1364C11.3184 8.52281 11.6138 8.81821 12.0002 8.81821C12.3866 8.81821 12.682 8.52281 12.682 8.1364C12.682 7.75014 12.3866 7.45459 12.0002 7.45459Z' fill='%231B5089'/%3E%3C/svg%3E%0A");
                                left: 0;
                            }
                        }
                        &:nth-child(2) {
                            &::before {
                                content: '';
                                position: absolute;
                                width: 24px;
                                height: 24px;
                                background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22.2076 17.9888L14.2906 4.31204C13.8235 3.48925 12.9562 3 12 3C11.0438 3 10.1987 3.48925 9.70943 4.31204L1.79246 17.9888C1.32537 18.8118 1.32537 19.7901 1.79246 20.6131C2.25955 21.4359 3.12686 21.9251 4.08304 21.9251H19.917C20.8732 21.9251 21.7183 21.4359 22.2076 20.6131C22.6747 19.7901 22.6747 18.8118 22.2076 17.9888ZM20.7398 19.7901C20.6731 19.9237 20.4284 20.2572 19.917 20.2572H4.08304C3.59379 20.2572 3.34917 19.9237 3.26025 19.7901C3.17136 19.6567 3.01562 19.2564 3.26025 18.8339L11.1772 5.17939C11.4219 4.75682 11.8444 4.7123 12 4.7123C12.1558 4.7123 12.5782 4.75682 12.8228 5.17939L20.7398 18.8339C21.0068 19.2565 20.8288 19.6345 20.7398 19.7901Z' fill='%231B5089'/%3E%3Cpath d='M11.9555 15.4759C12.4225 15.4981 12.8228 15.1424 12.8228 14.6753L13.0452 9.1601V9.07122C13.023 8.47073 12.5114 8.026 11.9333 8.04816C11.3328 8.07034 10.8881 8.58192 10.9102 9.16009L11.1327 14.6753C11.1772 15.0977 11.5329 15.4536 11.9555 15.4759L11.9555 15.4759Z' fill='%231B5089'/%3E%3Cpath d='M13.2009 17.4996C13.2009 18.1629 12.6633 18.7006 12.0001 18.7006C11.337 18.7006 10.7993 18.1629 10.7993 17.4996C10.7993 16.8365 11.337 16.2988 12.0001 16.2988C12.6633 16.2988 13.2009 16.8365 13.2009 17.4996Z' fill='%231B5089'/%3E%3C/svg%3E%0A");
                                left: 0;
                            }
                        }
                        &:nth-child(3) {
                            &::before {
                                content: '';
                                position: absolute;
                                width: 24px;
                                height: 24px;
                                background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M16.3069 11.6402C15.9292 11.6402 15.6233 11.9461 15.6233 12.3237V20.3441L10.8992 16.7793C10.5972 16.5522 10.1695 16.6121 9.94176 16.9132C9.71462 17.2148 9.7745 17.6433 10.0756 17.8706L15.895 22.2619C16.016 22.3529 16.1611 22.3998 16.3068 22.3998C16.4107 22.3998 16.5151 22.376 16.6116 22.3279C16.8437 22.2124 16.9903 21.9755 16.9903 21.7163V12.3235C16.9903 11.9458 16.6842 11.6399 16.3068 11.6399L16.3069 11.6402ZM22.6277 2.92697C22.3773 2.64489 21.9449 2.61914 21.6628 2.86937L16.9902 7.01583V2.99924C16.9902 2.74005 16.8437 2.50319 16.6112 2.38762C16.3797 2.27223 16.1022 2.29741 15.8948 2.4538L8.39785 8.11109L4.92121 8.1109C4.26359 8.1109 3.72882 8.64606 3.72882 9.30348V15.4119C3.72882 16.0691 4.26359 16.6039 4.92121 16.6039H6.18415L1.42987 20.8236C1.14741 21.0744 1.12167 21.5064 1.37227 21.7885C1.5073 21.9409 1.69516 22.0185 1.88381 22.0185C2.04516 22.0185 2.20727 21.9617 2.33715 21.8463L22.57 3.89206C22.8525 3.64126 22.8782 3.20929 22.6278 2.92699L22.6277 2.92697ZM15.6233 8.22881L7.72499 15.2376H5.09608V9.47872H8.62707C8.77545 9.47872 8.9202 9.43028 9.03883 9.34064L15.6233 4.37178L15.6233 8.22881Z' fill='%231B5089' stroke='%231B5089' stroke-width='0.2'/%3E%3C/svg%3E%0A");                                left: 0;
                            }
                        }
                    }
                }
                
            }
        }
    }
    
}