.lu-bf {
    position: relative;
    stroke:rgba(71, 169, 57, 0.7);
    &:after {
        content: '';
        width: 100%;
        height: calc(100% + 100px);
        background: rgba(71, 169, 57, 0.7);
        left: 0;
        z-index: 1;
        position: absolute;
        @media(max-width: 834px){
            height: 100%;
        }
    }
}
.lu-df {
    position: relative;
    stroke: rgba(234,171,0, 0.7);
    &:after {
        content: '';
        width: 100%;
        height: calc(100% + 100px);
        background: rgba(234,171,0, 0.7);
        left: 0;
        z-index: 1;
        position: absolute;
        @media(max-width: 834px){
            height: 100%;
        }
    }
}
.lu-bvef {
    position: relative;
    stroke: rgba(0,103,90, 0.7);
    &:after {
        content: '';
        width: 100%;
        height: calc(100% + 100px);
        background: rgba(0,103,90, 0.7);
        left: 0;
        z-index: 1;
        position: absolute;
        @media(max-width: 834px){
            height: 100%;
        }
    }
}
.lu-fmof {
    position: relative;
    stroke: rgba(225,121,0, 0.7);
    &:after {
        content: '';
        width: 100%;
        height: calc(100% + 100px);
        background: rgba(225,121,0, 0.7);
        left: 0;
        z-index: 1;
        position: absolute;
        @media(max-width: 834px){
            height: 100%;
        }
    }
}
.lu-gzzf {
    position: relative;
    stroke: rgba(142,147,0, 0.7);
    &:after {
        content: '';
        width: 100%;
        height: calc(100% + 100px);
        background: rgba(142,147,0, 0.7);
        left: 0;
        z-index: 1;
        position: absolute;
        @media(max-width: 834px){
            height: 100%;
        }
    }
}
.lu-hzf {
    position: relative;
    stroke: rgba(172,41,115, 0.7);
    &:after {
        content: '';
        width: 100%;
        height: calc(100% + 100px);
        background: rgba(172,41,115, 0.7);
        left: 0;
        z-index: 1;
        position: absolute;
        @media(max-width: 834px){
            height: 100%;
        }
    }
}
.lu-jf {
    position: relative;
    stroke: rgba(15,32,75, 0.7);
    &:after {
        content: '';
        width: 100%;
        height: calc(100% + 100px);
        background: rgba(15,32,75, 0.7);
        left: 0;
        z-index: 1;
        position: absolute;
        @media(max-width: 834px){
            height: 100%;
        }
    }
}
.lu-kf {
    position: relative;
    stroke: rgba(59,0,131, 0.7);
    &:after {
        content: '';
        width: 100%;
        height: calc(100% + 100px);
        background: rgba(59,0,131, 0.7);
        left: 0;
        z-index: 1;
        position: absolute;
        @media(max-width: 834px){
            height: 100%;
        }
    }
}
.lu-mf {
    position: relative;
    stroke: rgba(213,43,30, 0.7);
    &:after {
        content: '';
        width: 100%;
        height: calc(100% + 100px);
        background: rgba(213,43,30, 0.7);
        left: 0;
        z-index: 1;
        position: absolute;
        @media(max-width: 834px){
            height: 100%;
        }
    }
}
.lu-ppmf {
    position: relative;
    stroke: rgba(164,77,196, 0.7);
    &:after {
        content: '';
        width: 100%;
        height: calc(100% + 100px);
        background: rgba(164,77,196, 0.7);
        left: 0;
        z-index: 1;
        position: absolute;
        @media(max-width: 834px){
            height: 100%;
        }
    }
}
.lu-szf {
    position: relative;
    stroke: rgba(0,130,202, 0.7);
    &:after {
        content: '';
        width: 100%;
        height: calc(100% + 100px);
        background: rgba(0,130,202, 0.7);
        left: 0;
        z-index: 1;
        position: absolute;
        @media(max-width: 834px){
            height: 100%;
        }
    }
}
.lu-tf {
    position: relative;
    stroke: rgba(125,92,198, 0.7);
    &:after {
        content: '';
        width: 100%;
        height: calc(100% + 100px);
        background: rgba(125,92,198, 0.7);
        left: 0;
        z-index: 1;
        position: absolute;
        @media(max-width: 834px){
            height: 100%;
        }
    }
}
.lu-vff {
    position: relative;
    stroke: rgba(140,144,145, 0.7);
    &:after {
        content: '';
        width: 100%;
        height: calc(100% + 100px);
        background: rgba(140,144,145, 0.7);
        left: 0;
        z-index: 1;
        position: absolute;
        @media(max-width: 834px){
            height: 100%;
        }
    }
}
.results {
    min-height: 575px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 50px;
    &__heading {
        font-weight: 700;
        font-size: 24px;
        line-height: 36px;
        text-align: center;
        margin: 0;
        margin-bottom: 28px;
        color: #fff;
    }
    &__title {
        font-weight: 700;
        // font-size: 72px;
        font-size: 50px;
        line-height: 1;
        text-align: center;
        margin: 0;
        // margin-bottom: 24px;
        color: #fff;
        max-width: 950px;
        margin: 0 auto;
        margin-top: 85px;
    }
    &__subtitle {
        font-weight: 400;
        font-size: 22px;
        line-height: 27px;
        text-align: center;
        // max-width: 650px;
        max-width: 995px;
        padding: 0 15px;
        margin: 0 auto;
        color: #fff;
        margin-bottom: 40px;
        margin-top: 60px;

        p:first-of-type {
            margin-top: 0;
        }
        p:last-of-type {
            margin-bottom: 0;
        }
    }
}
.results-contact {
    color: #fff !important;
    border-color: #fff !important;
    text-align: center;
    margin: 0 auto;
    // max-width: 200px;
    max-width: 400px;
    display: flex !important;
    justify-content: center;
}
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    color: #1B5089;
    transform: translateY(-110px);
    &__item {
        background-color: #fff;
        max-width: 427px;
        width: 100%;
        padding: 35px;
        text-align: center;
        box-shadow: 0px 0px 25px rgba(31, 79, 151, 0.15);
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        transition: all .3s;
        &:hover {
            transform: scale(1.05);
        }
        &-result {
            margin: 0;
            margin-top: 25px;
            margin-bottom: 25px;
            font-size: 36px;
            font-weight: 700;
            border-radius: 50%;
            display: inline-block;
            position: relative;
            .ring {
                position: absolute;
                // width: 130px;
                // height: 130px;
                // border: 8px solid #7FD1A5;
                // border-radius: 50%;
                left: 50%;
                top: 50%;
                transform: translate(-50%,-50%) rotate(-90deg);
            }
        }
        &-title {
            margin: 0;
            font-weight: 700;
            // font-size: 36px;
            font-size: 26px;
            line-height: 26px;
            margin-top: 35px;
        }
        &-subtitle{
            font-size: 20px;
            line-height: 27px;
            font-weight: 600;
            margin-top: 10px;
        }
        &-text {
            max-width: 347px;
            width: 100%;
            font-size: 20px;
            line-height: 27px;
            margin: 0;
            // margin-top: 45px;
            margin-top: 30px;
            margin-bottom: 35px;
            p:first-of-type {
                margin-top: 0;
            }
            p:last-of-type {
                margin-bottom: 0;
            }
        }
        &-button {
            color: #1B5089;
            font-weight: 900;
            font-size: 24px;
            line-height: 22px;
            letter-spacing: 0.095em;
            text-transform: uppercase;
            text-decoration: none;
            border: 1.5px solid #1B5089;
            border-radius: 25.5px;
            padding: 16px 25px;
            display: block;
            margin-top: auto;
        }
    }
}
.resultsButton {
    background-color: #fff;
    color: $cTheme;
    @media (max-width:834px) {
        text-align: center;
        // margin-bottom: 60px;
        font-size: 20px;
    }
}
.pagination-numbers {
    background: red !important;
    color: #fff;
}
@media(max-width: 834px) {
    .results {
        padding: 80px 15px;
        &__heading {
            font-size: 24px;
            line-height: 28px;
            margin-bottom: 12px;
            margin-top: 60px;
        }
        &__title {
            font-size: 34px;
            // line-height: 44px;
            font-weight: 700;
            // margin-bottom: 15px;
        }
        &__subtitle {
            font-size: 16px;
            line-height: 24px;
            font-weight: 400;
            // margin-bottom: 74px;

        }
    }
    .cards {
        flex-direction: column;
        align-items: center;
        gap: 20px;
        &__item {
            max-width: 335px;
            padding: 54px 24px;
            
            &-result {

            }
            &-title {

            }
            &-text {

            }
            &-button {
                padding: 16px 0;
            }
        }
    }
}