.results {
    min-height: 575px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    &::after {
        content: '';
        width: 100%;
        height: 100%;
        background: rgba(71, 169, 57, 0.7);
        left: 0;
        z-index: 1;
        position: absolute;
    }
    &__heading {
        font-weight: 700;
        font-size: 10px;
        line-height: 10px;
        text-align: center;
        margin: 0;
        margin-bottom: 28px;
        color: #fff;
    }
    &__title {
        font-weight: 700;
        font-size: 72px;
        line-height: 86px;
        text-align: center;
        margin: 0;
        margin-bottom: 24px;
        color: #fff;
    }
    &__subtitle {
        font-weight: 700;
        font-size: 18px;
        line-height: 27px;
        text-align: center;
        max-width: 650px;
        margin: 0 auto;
        color: #fff;
    }
}
.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    color: #1B5089;
    transform: translateY(-110px);
    &__item {
        background-color: #fff;
        max-width: 427px;
        width: 100%;
        padding: 60px 50px;
        text-align: center;
        box-shadow: 0px 0px 25px rgba(31, 79, 151, 0.15);
        border-radius: 5px;
        transition: all .3s;
        &:hover {
            transform: scale(1.05);
        }
        &-result {
            margin: 0;
            margin-bottom: 40px;
            font-size: 36px;
            font-weight: 700;
            border-radius: 50%;
            display: inline-block;
            position: relative;
            .ring {
                position: absolute;
                width: 130px;
                height: 130px;
                border: 8px solid #7FD1A5;
                border-radius: 50%;
                left: 50%;
                top: 50%;
                transform: translate(-50%,-50%);
            }
        }
        &-title {
            margin: 0;
            font-weight: 700;
            font-size: 36px;
            line-height: 43px;
        }
        &-text {
            max-width: 347px;
            width: 100%;
            font-size: 18px;
            line-height: 27px;
            margin: 0;
            margin-top: 45px;
            margin-bottom: 65px;
        }
        &-button {
            color: #1B5089;
            font-weight: 900;
            font-size: 24px;
            line-height: 22px;
            letter-spacing: 0.095em;
            text-transform: uppercase;
            text-decoration: none;
            border: 1.5px solid #1B5089;
            border-radius: 25.5px;
            padding: 16px 25px;
            display: block;
        }
    }
}
.resultsButton {
    background-color: #fff;
    color: $cTheme;
    @media (max-width:768px) {
        text-align: center;
        margin-bottom: 60px;
        font-size: 20px;
    }
}
.pagination-numbers {
    background: red !important;
    color: #fff;
}
@media(max-width: 768px) {
    .results {
        &__heading {
            font-size: 24px;
            line-height: 28px;
            margin-bottom: 12px;
        }
        &__title {
            font-size: 64px;
            line-height: 59px;
            font-weight: 700;
            margin-bottom: 15px;
        }
        &__subtitle {
            font-size: 16px;
            line-height: 24px;
            font-weight: 700;
            margin-bottom: 74px;

        }
    }
    .cards {
        flex-direction: column;
        align-items: center;
        gap: 20px;
        &__item {
            max-width: 335px;
            padding: 54px 24px;
            &-result {

            }
            &-title {

            }
            &-text {

            }
            &-button {
                padding: 16px 0;
            }
        }
    }
}