$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-lu-email: "\e903";
$icon-lu-phone: "\e908";
$icon-lu-pin: "\e909";
$icon-lu-web: "\e914";
$icon-lu-file: "\e91b";
$icon-lu-file-archive: "\e91c";
$icon-lu-file-doc: "\e91d";
$icon-lu-file-image: "\e91e";
$icon-lu-file-pdf: "\e91f";
$icon-lu-file-png: "\e920";
$icon-lu-social-2-fb: "\e921";
$icon-lu-social-2-in: "\e922";
$icon-lu-social-2-tw: "\e923";
$icon-lu-pin-2: "\e924";
$icon-lu-calendar-3: "\e925";
$icon-lu-clock: "\e926";
$icon-lu-calendar-2: "\e919";
$icon-lu-list: "\e91a";
$icon-lu-checkbox-unchecked: "\e918";
$icon-lu-checkbox-checked: "\e907";
$icon-lu-calendar: "\e915";
$icon-lu-search-2: "\e902";
$icon-lu-bulta-10: "\e901";
$icon-lu-changefontsize: "\e900";
$icon-lu-home: "\e904";
$icon-lu-lock: "\e905";
$icon-lu-outsource: "\e906";
$icon-lu-play: "\e90a";
$icon-lu-play-b: "\e90b";
$icon-lu-search: "\e90c";
$icon-lu-social-fb: "\e90d";
$icon-lu-social-google: "\e90e";
$icon-lu-social-in: "\e90f";
$icon-lu-social-insta: "\e910";
$icon-lu-social-rss: "\e911";
$icon-lu-social-tw: "\e912";
$icon-lu-social-yt: "\e913";
$icon-lu-bulta-20: "\e916";
$icon-lu-bulta-30: "\e917";


