@font-face {
  font-family: 'icomoon';
  src:
    url('../files/icons/fonts/icomoon.ttf?c1owjj') format('truetype'),
    url('../files/icons/fonts/icomoon.woff?c1owjj') format('woff'),
    url('../files/icons/fonts/icomoon.svg?c1owjj#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
  font-display: swap;
}
@font-face {
  font-family: 'PF Handbook Pro';
  src: url('../files/fonts/PFHandbookPro-Bold.woff2') format('woff2'),
  url('../files/fonts/PFHandbookPro-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'PF Handbook Pro';
  src: url('../files/fonts/PFHandbookPro-Regular.woff2') format('woff2'),
      url('../files/fonts/PFHandbookPro-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}



[class^="icon-lu-"], [class*=" icon-lu-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-lu-email {
  &:before {
    content: $icon-lu-email; 
  }
}
.icon-lu-phone {
  &:before {
    content: $icon-lu-phone; 
  }
}
.icon-lu-pin {
  &:before {
    content: $icon-lu-pin; 
  }
}
.icon-lu-web {
  &:before {
    content: $icon-lu-web; 
  }
}
.icon-lu-file {
  &:before {
    content: $icon-lu-file; 
  }
}
.icon-lu-file-archive {
  &:before {
    content: $icon-lu-file-archive; 
  }
}
.icon-lu-file-doc {
  &:before {
    content: $icon-lu-file-doc; 
  }
}
.icon-lu-file-image {
  &:before {
    content: $icon-lu-file-image; 
  }
}
.icon-lu-file-pdf {
  &:before {
    content: $icon-lu-file-pdf; 
  }
}
.icon-lu-file-png {
  &:before {
    content: $icon-lu-file-png; 
  }
}
.icon-lu-social-2-fb {
  &:before {
    content: $icon-lu-social-2-fb; 
  }
}
.icon-lu-social-2-in {
  &:before {
    content: $icon-lu-social-2-in; 
  }
}
.icon-lu-social-2-tw {
  &:before {
    content: $icon-lu-social-2-tw; 
  }
}
.icon-lu-pin-2 {
  &:before {
    content: $icon-lu-pin-2; 
  }
}
.icon-lu-calendar-3 {
  &:before {
    content: $icon-lu-calendar-3; 
  }
}
.icon-lu-clock {
  &:before {
    content: $icon-lu-clock; 
  }
}
.icon-lu-calendar-2 {
  &:before {
    content: $icon-lu-calendar-2; 
  }
}
.icon-lu-list {
  &:before {
    content: $icon-lu-list; 
  }
}
.icon-lu-checkbox-unchecked {
  &:before {
    content: $icon-lu-checkbox-unchecked; 
  }
}
.icon-lu-checkbox-checked {
  &:before {
    content: $icon-lu-checkbox-checked; 
  }
}
.icon-lu-calendar {
  &:before {
    content: $icon-lu-calendar; 
  }
}
.icon-lu-search-2 {
  &:before {
    content: $icon-lu-search-2; 
  }
}
.icon-lu-bulta-10 {
  &:before {
    content: $icon-lu-bulta-10; 
  }
}
.icon-lu-changefontsize {
  &:before {
    content: $icon-lu-changefontsize; 
  }
}
.icon-lu-home {
  &:before {
    content: $icon-lu-home; 
  }
}
.icon-lu-lock {
  &:before {
    content: $icon-lu-lock; 
  }
}
.icon-lu-outsource {
  &:before {
    content: $icon-lu-outsource; 
  }
}
.icon-lu-play {
  &:before {
    content: $icon-lu-play; 
  }
}
.icon-lu-play-b {
  &:before {
    content: $icon-lu-play-b; 
  }
}
.icon-lu-search {
  &:before {
    content: $icon-lu-search; 
  }
}
.icon-lu-social-fb {
  &:before {
    content: $icon-lu-social-fb; 
  }
}
.icon-lu-social-google {
  &:before {
    content: $icon-lu-social-google; 
  }
}
.icon-lu-social-in {
  &:before {
    content: $icon-lu-social-in; 
  }
}
.icon-lu-social-insta {
  &:before {
    content: $icon-lu-social-insta; 
  }
}
.icon-lu-social-rss {
  &:before {
    content: $icon-lu-social-rss; 
  }
}
.icon-lu-social-tw {
  &:before {
    content: $icon-lu-social-tw; 
  }
}
.icon-lu-social-yt {
  &:before {
    content: $icon-lu-social-yt; 
  }
}
.icon-lu-bulta-20 {
  &:before {
    content: $icon-lu-bulta-20; 
  }
}
.icon-lu-bulta-30 {
  &:before {
    content: $icon-lu-bulta-30; 
  }
}

.icon-lu-social-new-linked {
  background-image: url("data:image/svg+xml,%3Csvg width='21' height='20' viewBox='0 0 21 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21 12.2651V20H16.4699V12.779C16.4699 11.007 15.8215 9.73111 14.196 9.73111C13.6889 9.73472 13.1952 9.89398 12.782 10.1872C12.3688 10.4805 12.0561 10.8935 11.8865 11.3702C11.7719 11.7248 11.7208 12.0967 11.7355 12.4689V20H7.24092C7.24092 20 7.30309 7.77301 7.24092 6.51487H11.7355V8.41981V8.4641V8.41981C12.1409 7.7139 12.7332 7.13295 13.4477 6.74066C14.1622 6.34838 14.9712 6.1599 15.7859 6.19591C18.7794 6.19591 21 8.11856 21 12.2651ZM2.57758 0.0115355C2.25424 -0.0206135 1.92775 0.0146141 1.61879 0.114987C1.30983 0.215359 1.02516 0.378686 0.782825 0.594604C0.540489 0.810522 0.345772 1.07433 0.211049 1.36927C0.0763261 1.66422 0.00453147 1.98387 0.000207613 2.30796C-0.00411625 2.63204 0.0591411 2.95349 0.185947 3.2519C0.312754 3.55032 0.500334 3.81919 0.736824 4.04147C0.973313 4.26374 1.25355 4.43456 1.55972 4.54309C1.8659 4.65163 2.19134 4.69552 2.51542 4.67196C2.83933 4.70016 3.16556 4.66088 3.47342 4.55659C3.78129 4.45229 4.06405 4.28527 4.30375 4.06614C4.54344 3.84701 4.73483 3.58056 4.86577 3.2837C4.9967 2.98684 5.06433 2.66607 5.06433 2.34176C5.06433 2.01744 4.9967 1.69666 4.86577 1.3998C4.73483 1.10294 4.54344 0.836487 4.30375 0.617358C4.06405 0.398228 3.78129 0.231219 3.47342 0.126924C3.16556 0.02263 2.83933 -0.0166659 2.51542 0.0115355H2.57758ZM0.294784 20H4.78935V6.5326H0.294784V20Z' fill='white'/%3E%3C/svg%3E%0A");
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  &:hover {
    
  }
}
.icon-lu-social-new-fb {
  background-image: url("data:image/svg+xml,%3Csvg width='11' height='20' viewBox='0 0 11 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.2812 11.2539L10.8544 7.6296H7.27875V5.28134C7.24727 5.01007 7.28056 4.73539 7.37602 4.47872C7.47149 4.22204 7.62656 3.99031 7.82911 3.80161C8.03167 3.61291 8.27625 3.47235 8.54377 3.39086C8.8113 3.30937 9.09453 3.28918 9.37139 3.33185H11V0.248116C10.0462 0.0961639 9.08217 0.0132323 8.1158 0C5.1861 0 3.26633 1.77226 3.26633 4.87373V7.6296H0V11.2539H3.26633V20H7.27875V11.2539H10.2812Z' fill='white'/%3E%3C/svg%3E%0A");
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  &:hover {

  }
}
.icon-lu-social-new-tiktok {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17' height='20' viewBox='0 0 17 20' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M16.5088 8.11658C16.6719 8.11584 16.8348 8.10752 16.9972 8.09164H17V4.76377C15.7601 4.67252 14.5916 4.14541 13.6986 3.2746C12.8057 2.40379 12.2453 1.2447 12.1153 0H9.26977L9.24004 13.9628C9.24004 15.6759 7.73731 17.0256 6.03569 17.0256C5.21869 17.0256 4.43516 16.6988 3.85745 16.1172C3.27975 15.5356 2.9552 14.7468 2.9552 13.9243C2.9552 13.1018 3.27975 12.313 3.85745 11.7314C4.43516 11.1498 5.21869 10.8231 6.03569 10.8231C6.13043 10.8231 6.22205 10.8357 6.31373 10.8483C6.34534 10.8526 6.37696 10.857 6.40871 10.8608V7.86646C6.3793 7.8646 6.34993 7.86253 6.32056 7.86047C6.2262 7.85385 6.13177 7.84722 6.03569 7.84722C4.84194 7.84722 3.675 8.20359 2.68244 8.87127C1.68988 9.53896 0.916268 10.488 0.459442 11.5983C0.00261514 12.7086 -0.116911 13.9304 0.115977 15.1091C0.348865 16.2878 0.923707 17.3705 1.76781 18.2203C2.61192 19.0701 3.68737 19.6488 4.85818 19.8832C6.02899 20.1177 7.24256 19.9974 8.34544 19.5375C9.44832 19.0776 10.391 18.2987 11.0542 17.2995C11.7174 16.3002 12.0714 15.1254 12.0714 13.9236V5.70227C12.5537 6.44397 13.212 7.05306 13.9867 7.47456C14.7614 7.89606 15.6282 8.11671 16.5088 8.11658Z' fill='white'/%3E%3C/svg%3E");
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  &:hover {

  }
}

.icon-lu-social-new-ig {
  background-image: url("data:image/svg+xml,%3Csvg width='18' height='17' viewBox='0 0 18 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13.9352 0H4.06481C2.98676 0 1.95287 0.411847 1.19057 1.14495C0.42827 1.87806 9.90382e-06 2.87237 9.90382e-06 3.90914V13.0822C-0.00117012 13.5963 0.10311 14.1056 0.306857 14.5808C0.510604 15.0561 0.809822 15.4881 1.18739 15.852C1.56496 16.2159 2.01346 16.5046 2.50721 16.7016C3.00096 16.8986 3.53025 17 4.06481 17H13.9352C14.4697 17 14.999 16.8986 15.4928 16.7016C15.9865 16.5046 16.435 16.2159 16.8126 15.852C17.1902 15.4881 17.4894 15.0561 17.6931 14.5808C17.8969 14.1056 18.0012 13.5963 18 13.0822V3.90914C18 2.87237 17.5717 1.87806 16.8094 1.14495C16.0471 0.411847 15.0132 0 13.9352 0ZM8.99102 12.4954C8.16934 12.4954 7.36611 12.2611 6.6829 11.8221C5.99969 11.383 5.46719 10.759 5.15274 10.029C4.8383 9.29891 4.75602 8.49557 4.91633 7.72053C5.07663 6.94549 5.47232 6.23358 6.05334 5.6748C6.63436 5.11603 7.37463 4.7355 8.18052 4.58134C8.98642 4.42717 9.82175 4.50629 10.5809 4.8087C11.34 5.1111 11.9889 5.62321 12.4454 6.28026C12.9019 6.9373 13.1456 7.70977 13.1456 8.49999C13.1432 9.55895 12.7047 10.5739 11.9261 11.3227C11.1475 12.0715 10.0921 12.4931 8.99102 12.4954ZM14.2492 4.81522C13.9795 4.81522 13.7158 4.73829 13.4915 4.59416C13.2672 4.45003 13.0924 4.24519 12.9892 4.00551C12.8859 3.76583 12.8589 3.50209 12.9115 3.24765C12.9642 2.99321 13.0941 2.75949 13.2848 2.57605C13.4756 2.39261 13.7186 2.26769 13.9832 2.21708C14.2477 2.16646 14.522 2.19244 14.7712 2.29172C15.0204 2.391 15.2334 2.55912 15.3833 2.77482C15.5332 2.99053 15.6132 3.24413 15.6132 3.50355C15.6132 3.678 15.577 3.8507 15.5068 4.01155C15.4366 4.1724 15.3337 4.31817 15.2042 4.44031C15.0747 4.56246 14.9211 4.65854 14.7525 4.72291C14.5839 4.78729 14.4037 4.81866 14.2223 4.81522H14.2492Z' fill='white'/%3E%3C/svg%3E%0A");
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  &:hover {

  }
}
.icon-lu-social-new-tw {
  background-image: url("data:image/svg+xml,%3Csvg width='19' height='15' viewBox='0 0 19 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.9198 1.79353C18.3045 2.04653 17.6585 2.2245 16.9971 2.32328C17.3087 2.27201 17.7626 1.73372 17.9407 1.46884C18.2247 1.14026 18.4421 0.763503 18.5816 0.35807C18.5816 0.35807 18.5816 0.28117 18.5816 0.264082C18.5661 0.257736 18.5494 0.254473 18.5326 0.254473C18.5158 0.254473 18.4991 0.257736 18.4837 0.264082C17.7653 0.641395 16.9995 0.928559 16.2049 1.11852C16.1803 1.13123 16.1527 1.13789 16.1248 1.13789C16.0968 1.13789 16.0693 1.13123 16.0447 1.11852C15.9887 1.04502 15.9228 0.978947 15.8488 0.922002C15.5173 0.653095 15.1451 0.434139 14.745 0.272634C14.2096 0.0622069 13.6312 -0.0283872 13.0538 0.00774754C12.4912 0.0447138 11.9426 0.19309 11.4426 0.443519C10.9431 0.692082 10.5034 1.03847 10.1519 1.4603C9.78297 1.89514 9.51853 2.40278 9.3775 2.94702C9.25601 3.46327 9.24089 3.99735 9.33299 4.51918C9.33299 4.60462 9.33299 4.62172 9.25288 4.60463C6.2408 4.3095 3.4513 2.94784 1.42855 0.785289C1.33953 0.682757 1.28612 0.682757 1.21491 0.785289C0.806841 1.50553 0.652243 2.3331 0.774157 3.14458C0.896072 3.95605 1.28798 4.70796 1.89142 5.28818C2.04317 5.43379 2.20366 5.57073 2.37209 5.69831C1.84469 5.65736 1.33068 5.51806 0.858858 5.28818C0.769844 5.23691 0.725333 5.28818 0.716432 5.36508C0.699226 5.50986 0.699226 5.65605 0.716432 5.80084C0.806786 6.47739 1.08383 7.11848 1.5189 7.65778C1.95396 8.19707 2.53125 8.61499 3.19102 8.86828C3.34947 8.93838 3.51719 8.98725 3.6895 9.01353C3.20074 9.09643 2.70062 9.09643 2.21186 9.01353C2.09614 9.01353 2.06055 9.01353 2.09615 9.15024C2.35253 9.78638 2.77281 10.3497 3.31767 10.7875C3.86252 11.2254 4.51417 11.5234 5.21165 11.6537C5.35503 11.6624 5.49772 11.6795 5.63891 11.705C5.29176 12.2177 4.07226 12.5594 3.51147 12.7901C2.47624 13.1421 1.37423 13.2762 0.280258 13.1832C0.111131 13.1832 0.0755314 13.1832 0.022123 13.1832C-0.0312855 13.1832 0.0221208 13.2515 0.0755292 13.2943C0.298064 13.431 0.520595 13.5591 0.752031 13.6788C1.43653 14.036 2.15864 14.3224 2.90618 14.5332C4.83245 15.0884 6.87666 15.1495 8.83515 14.7102C10.7936 14.271 12.598 13.3468 14.0685 12.0297C16.3562 9.84233 17.1573 6.83471 17.1573 3.82709C17.1573 3.70746 17.2998 3.64766 17.3888 3.5793C17.9655 3.14678 18.475 2.63754 18.902 2.06695C18.9674 1.98327 19.0019 1.88104 18.9999 1.77644C18.991 1.74226 18.991 1.75935 18.9198 1.79353Z' fill='white'/%3E%3C/svg%3E%0A");
  height: 20px;
  width: 20px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  &:hover {

  }
}
.icon-lu-social-new-yt {
  background-image: url("data:image/svg+xml,%3Csvg width='19' height='13' viewBox='0 0 19 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19 4.07627C19 2.99518 18.5605 1.95836 17.7783 1.19391C16.9961 0.429461 15.9351 0 14.8288 0H4.17115C3.06489 0 2.00394 0.429461 1.2217 1.19391C0.439457 1.95836 0 2.99518 0 4.07627V8.92373C0 10.0048 0.439457 11.0416 1.2217 11.8061C2.00394 12.5705 3.06489 13 4.17115 13H14.8288C15.9351 13 16.9961 12.5705 17.7783 11.8061C18.5605 11.0416 19 10.0048 19 8.92373V4.07627ZM12.7649 6.86441L7.98676 9.1695C7.79598 9.27119 7.16295 9.16949 7.16295 8.9322V4.18644C7.16295 3.97458 7.80465 3.83899 7.98676 3.94916L12.5655 6.38136C12.7649 6.48305 12.921 6.75424 12.7649 6.86441Z' fill='white'/%3E%3C/svg%3E%0A");
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  &:hover {

  }
}
.lu-icon-compas {
  position: relative;
  &:before {
    content: '';
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='21' height='21' viewBox='0 0 21 21' fill='none'%3E%3Cpath d='M10.5 0C4.71056 0 0 4.71056 0 10.5C0 16.2894 4.71056 21 10.5 21C16.2894 21 21 16.2894 21 10.5C21 4.71056 16.2894 0 10.5 0ZM3.9375 17.0625L8.81606 9.744L11.256 12.1839L3.9375 17.0625ZM12.1839 11.256L9.744 8.81606L17.0625 3.9375L12.1839 11.256Z' fill='%23084C85'/%3E%3C/svg%3E");
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}
.lu-icon-pin {
  position: relative;
  &:before {
    content: '';
    background-image: url("data:image/svg+xml,%3Csvg width='17' height='21' viewBox='0 0 17 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.16583 0.00534487C3.94857 0.151739 0.445057 3.40686 0.0403038 7.56187C-0.0423877 8.39287 0.00548643 9.19804 0.153461 9.96876C0.153461 9.96876 0.166517 10.0592 0.210039 10.2314C0.340605 10.8084 0.536453 11.3681 0.780175 11.8934C1.62885 13.8827 3.59169 17.211 7.9961 20.8321C8.26593 21.056 8.66198 21.056 8.93617 20.8321C13.3406 17.2153 15.3034 13.887 16.1564 11.8891C16.4045 11.3638 16.596 10.8084 16.7266 10.2271C16.7657 10.0592 16.7832 9.96446 16.7832 9.96446C16.8833 9.44777 16.9355 8.91817 16.9355 8.37565C16.9355 3.64798 12.9794 -0.162578 8.16583 0.00534487ZM8.46613 12.5436C6.19429 12.5436 4.35332 10.7223 4.35332 8.47468C4.35332 6.2271 6.19429 4.40578 8.46613 4.40578C10.738 4.40578 12.5789 6.2271 12.5789 8.47468C12.5789 10.7223 10.738 12.5436 8.46613 12.5436Z' fill='%23084C85'/%3E%3C/svg%3E%0A");
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}
.lu-icon-phone {
  position: relative;
  &:before {
    content: '';
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='21' viewBox='0 0 20 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.4755 15.4119L16.6786 12.4813C15.6797 11.4346 13.9816 11.8533 13.582 13.2139C13.2823 14.1559 12.2834 14.6793 11.3844 14.4699C9.38661 13.9466 6.68957 11.2253 6.19012 9.02732C5.89045 8.0853 6.48979 7.03865 7.3888 6.7247C8.68738 6.30604 9.08694 4.52674 8.08804 3.4801L5.2911 0.549489C4.49198 -0.183163 3.29329 -0.183163 2.59406 0.549489L0.696143 2.53812C-1.20177 4.63141 0.895924 10.1786 5.59077 15.0979C10.2856 20.0171 15.5798 22.3198 17.5776 20.2264L19.4755 18.2378C20.1748 17.4005 20.1748 16.1445 19.4755 15.4119Z' fill='%23084C85'/%3E%3C/svg%3E%0A");
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}
.lu-icon-envelope {
  position: relative;
  &:before {
    content: '';
    background-image: url("data:image/svg+xml,%3Csvg width='26' height='19' viewBox='0 0 26 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M25.6388 1.29895L17.7939 9.09325L25.6388 16.8876C25.7806 16.5911 25.8666 16.2635 25.8666 15.9136V2.27294C25.8666 1.92298 25.7806 1.59536 25.6388 1.29895Z' fill='%23084C85'/%3E%3Cpath d='M23.5931 0H2.27331C1.92335 0 1.59572 0.0860371 1.29932 0.227849L11.3258 10.2038C12.2124 11.0904 13.654 11.0904 14.5406 10.2038L24.5671 0.227849C24.2707 0.0860371 23.9431 0 23.5931 0Z' fill='%23084C85'/%3E%3Cpath d='M0.227849 1.29895C0.086037 1.59536 0 1.92298 0 2.27294V15.9136C0 16.2635 0.086037 16.5912 0.227849 16.8876L8.07267 9.09325L0.227849 1.29895Z' fill='%23084C85'/%3E%3Cpath d='M16.7223 10.1653L15.6122 11.2754C14.135 12.7526 11.7314 12.7526 10.2542 11.2754L9.14414 10.1653L1.29932 17.9596C1.59572 18.1015 1.92335 18.1875 2.27331 18.1875H23.5931C23.9431 18.1875 24.2707 18.1015 24.5671 17.9596L16.7223 10.1653Z' fill='%23084C85'/%3E%3C/svg%3E%0A");
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}

